body {
  font-family: sans-serif;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#tools {
  position: absolute;
  z-index: 2;
  top: 1em;
  right: 1em;
  width: 10em;
  padding: 1em;
  border-radius: 2px;
  color: white;
  background: black;
}

#info {
  position: fixed;
  left: 50%; top: 5em;
  margin-left: -20em;
  width: 40em;
  background: white;
  padding: 1em;
  border: 1px solid black;
  z-index: 9;
}

#info .close {
  float: right;
  opacity: 0.6;
  font-size: 200%;
  cursor: pointer;
}

.deck-tooltip {
  width: auto !important;
  height: auto !important;
  padding: 1em !important;
  border: 2px solid white;
  border-radius: 1em;
  background: white;
  font-size: 120%;
}
.deck-tooltip p {
  margin-bottom: 0px;
}
.deck-tooltip .label {
  font-size: 80%;
  opacity: 0.8;
}
